@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@media (max-width: 1300px) {
  body {
    align-items: flex-start !important; }
    body .slider {
      margin-top: 5rem;
      justify-content: center !important;
      height: auto !important; }
      body .slider .slider__person.active {
        margin-bottom: 40px; }
        body .slider .slider__person.active .slider__text {
          display: flex;
          bottom: -220px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          width: 100%;
          padding: 80px 50px 0 50px; }
          body .slider .slider__person.active .slider__text .slider__text--quotes {
            top: 60px;
            right: 0;
            left: 0;
            margin: auto; }
          body .slider .slider__person.active .slider__text .slider__text--p {
            font-size: 1.5em; }
          body .slider .slider__person.active .slider__text .slider__text--name {
            flex-direction: column; }
            body .slider .slider__person.active .slider__text .slider__text--name p {
              padding-top: 5px;
              margin-left: 0 !important; }
        body .slider .slider__person.active .slider__img {
          margin: 0 90px; }
          body .slider .slider__person.active .slider__img .slider__img--pattern {
            top: -22px;
            left: -35px;
            max-width: 120%;
            max-height: 120%; }
      body .slider .slider__btn {
        bottom: 25px;
        left: 0;
        right: 0;
        margin: auto; } }

@media (max-width: 700px) {
  .slider .slider__person.active .slider__text {
    display: flex;
    bottom: -300px !important; }
    .slider .slider__person.active .slider__text .slider__text--quotes {
      top: 60px;
      right: 0;
      left: 0;
      margin: auto; } }

@media (max-width: 400px) {
  .slider .slider__person.active .slider__text {
    padding-top: 0 !important;
    bottom: -220px !important; }
    .slider .slider__person.active .slider__text .slider__text--quotes {
      top: -20px !important; }
    .slider .slider__person.active .slider__text .slider__text--p {
      font-size: 18px !important; }
  .slider .slider__img .slider__img--pattern {
    max-width: 150% !important; } }

.bg-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100vw; }

.slider {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1070px;
  height: 540px; }
  .slider .slider__person {
    display: none; }
  .slider .slider__person.active {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: visible;
    animation: sliderChange .5s ease-in; }
    .slider .slider__person.active .slider__text {
      z-index: 99;
      position: absolute;
      left: 0;
      width: 60%;
      flex-direction: column;
      color: #202046; }
      .slider .slider__person.active .slider__text .slider__text--quotes {
        position: absolute;
        top: -67px;
        left: 90px; }
      .slider .slider__person.active .slider__text .slider__text--p {
        font-size: 32px;
        font-weight: 300; }
      .slider .slider__person.active .slider__text .slider__text--name {
        display: flex;
        align-items: center;
        margin-top: 30px; }
        .slider .slider__person.active .slider__text .slider__text--name p {
          color: #babacf;
          font-weight: 400;
          margin-left: 10px; }
    .slider .slider__person.active .slider__img {
      position: relative;
      height: 100%; }
      .slider .slider__person.active .slider__img .slider__img--person {
        max-width: 100%;
        max-height: 100%; }
      .slider .slider__person.active .slider__img .slider__img--pattern {
        z-index: -1;
        position: absolute;
        top: -62px;
        left: -45px;
        max-width: 150%;
        max-height: 150%; }
  .slider .slider__btn {
    position: absolute;
    bottom: -18px;
    right: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    width: 100px;
    height: 43px;
    box-shadow: 0px 5px 20px -4px #202046; }

@keyframes sliderChange {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; }

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden; }
