@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@import 'settings/colors';
@import 'components/mQ';
@import 'components/slider';

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   overflow-x: hidden;
}